<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Municipios</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<header>
    <h1>Gestión de Municipios</h1>
</header>
<main>
    <ul class="municipios-list">
        {% for municipio in municipios %}
            <li>
                <a href="/municipio/{{ municipio.name }}">{{ municipio.name }}</a>
            </li>
        {% endfor %}
    </ul>
</main>
</body>
</html>


